body {
    margin: 0;
    padding: 0;
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox {
    width: 320px;
    height: 400px;
    background: #ffffff;
    color: #328EF2;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 2px 2px 15px 2px rgb(0, 174, 255);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}


.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],

input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.button {
    padding: 0 100px;
    border: none;
    outline: none;
    height: 40px;
    background: #328EF2;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.button:hover {
    cursor: pointer;
    background: rgb(2, 49, 180);
    color: rgb(0, 0, 0);
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(19, 156, 235);
}

.loginbox a:hover {
    color: #328EF2;
}

#signuperror {
    padding-top: 14px;
    font-family: arial;
    font-size: 16px;
    color: red;
    text-align: center;
    margin: 0 0 30px 0;
}

#signupsuccess {
    padding-top: 14px;
    font-family: arial;
    font-size: 16px;
    color: rgb(6, 134, 6);
    text-align: center;
    margin: 0 0 30px 0;
}