body {
    margin: 0;
    padding: 0;
    background: url(../assets/pics/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox {
    width: 320px;
    height: 580px;
    background: #0088ff10;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 2px 2px 15px 2px rgba(255, 255, 255, 0.432);
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.button{
    margin:20px auto 10px;
    padding: 0 105px;
    border: none;
    outline: none;
    height: 40px;
    background: #328EF2;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.button:hover{
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(255, 255, 255);
}

.loginbox a:hover {
    color: #328EF2;
}

#signuperror {
    padding-top: 14px;
    font-family: arial;
    font-size: 16px;
    color: red;
    text-align: center;
    margin: 0 0 30px 0;
  }

  #signupsuccess {
    padding-top: 14px;
    font-family: arial;
    font-size: 16px;
    color: rgb(6, 134, 6);
    text-align: center;
    margin: 0 0 30px 0;
  }